.text {
    font-size: Poppins;
    font-weight: 400;
    color: var(--primary-text);

    &__titleBig {
        font-weight: 700;
        font-size: 67px;
        line-height: 70px;
    }

    &__title {
        font-weight: 600;
        font-size: 30px;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 24px;
    }

    &__bodyBig {
        font-weight: 600;
        font-size: 18px;
    }

    &__bodyTitle {
        font-weight: 400;
        font-size: 18px;
    }

    &__body {
        font-weight: 400;
        font-size: 16px;
    }

    &__bodySmall {
        font-weight: 500;
        font-size: 14px;
    }

    @media (min-width: 320px) {
        &__titleBig {
            font-size: 30px;
            line-height: normal;
        }

        &__title {
            font-size: 24px;
            line-height: normal;
        }

        &__subtitle {
            font-size: 18px;
            line-height: normal;
        }
    }

    @media (min-width: 480px) {
        &__titleBig {
            font-size: 35px;
        }

        &__title {
            font-size: 26px;
        }

        &__subtitle {
            font-size: 20px;
        }
    }

    @media (min-width: 768px) {
        &__titleBig {
            font-weight: 700;
            font-size: 45px;
        }

        &__title {
            font-weight: 600;
            font-size: 26px;
        }

        &__subtitle {
            font-weight: 700;
            font-size: 21px;
        }
    }

    &__primary {
        color: var(--primary-text);
    }

    &__secondary {
        color: var(--secondary-text);
    }

    &__active {
        color: var(--active-text);
    }

    &__negative {
        color: var(--negative-text);
    }

    &__highlight {
        color: var(--highlight-text);
    }

    &__disabled {
        color: var(--disabled-text);
    }
}
